.AboutMe{
    font-family: 'Courier New', Courier, monospace;
}


/*EDIT AS PROJECT ADVANCES - USING FOR VISUAL REFERENCE*/
.row{
    border-style: dashed;
    border-color: white;
}

.col{
    border-style: dashed;
    border-color: gray;
}