.AboutMe{
    font-family: 'Courier New', Courier, monospace;

}

body{
    background-color: aliceblue;
}

.AboutMe-container{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.AM-row{
    flex: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}
  
  .img1, .img2, .img3{
    transform: scale(.5);
    margin-left: auto;
    margin-right: auto;
    
  }

/*EDIT AS PROJECT ADVANCES - USING FOR VISUAL REFERENCE*/
.row{
    border-style: dashed;
    border-color: white;
}

.col{
    border-style: dashed;
    border-color: gray;
}
