.Home {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.Home-link {
  color: #61dafb;
}

/*Figure out how to custmize the tabs -_-*/


/*The following will be the color for the entire website.*/
body{
  background-color: rgb(119, 181, 244);
}

