.home-nav {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}

.nameHeader{
  text-align: center;
}

.home-nav{
  font-weight: bold;

}

.Home-link {
  color: hsl(193, 95%, 68%);
}

/*Figure out how to custmize the tabs -_-*/
.body{
  background-color: lightblue;
}

/*The following will be the color for the entire website.*/
.home-background{
  background-image: url("/src/imgs/kittybackground.jpg");
  background-position: top left;
  background-repeat: no-repeat;


}

.myNameContainer{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nameHeader{
  color:white;
  text-shadow: 3px 3px navy;
}

.row1{
  margin: auto;
  width: 55%;
  border: 3px ;
  padding: 15px;

}


.cardWelcome{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  text-align: center;
  height: auto;
  width: auto;
}

.techStackCard{
  font-family: 'Courier New', Courier, monospace;
}

.tsTitle{
  font-weight: bold;
}

.row2{
  margin: auto;
  width: 55%;
  padding: 15px;

}

.row3{
  margin: auto;
  width: 55%;
  padding: 15px;
  
}

.connectContainer{
  text-align: center;
}

.footerContainer{
  background-color: grey;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

