.AboutMe{
    font-family: 'Courier New', Courier, monospace;

}


 .bi-instagram, .bi-spotify, .bi-steam, .bi-linkedin, .bi-book, .bi-camera, .bi-controller, .bi-globe, .bi-pc-display-horizontal{
  flex:auto;
  font-size: 35px;
  height:auto;
 }

 .bg-card{
  background: rgba(0, 0, 0, 0);

}

.modal{
  font-family: 'Courier New', Courier, monospace;
  
}

.first-AM-container, .second-AM-container, .third-AM-container{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-card-container, .work-card-container, .hobbies-card-container, .gallery-card-container, .background-card-container {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  font-size: 1.1rem;
}