.home-nav{
  position: sticky;
  top:0;
  font-weight: bold;
  background-color: lightskyblue;
  margin-bottom: 5px;
  padding-bottom: 2px;
  display: flex;
  width: 100%;

  text-align: center;
  font-family: 'Courier New', Courier, monospace; 

}

.Home-link {
  color: hsl(193, 95%, 68%);
}

/*Figure out how to custmize the tabs -_-*/
.body{
  background-color: lightblue;
  height: 100%;
  margin: 0;
}

/*The following will be the background display for the entire website.*/
.home-background{
  background-image: url("/src/imgs/kittybackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;


}


.img-col{
  display: flex;
  border-style: solid;
}

.imageMiriam{
  height:50%;

}

.footer-row{
  margin: auto;
  padding: 15px;
  text-align: center;
}


.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: left;
  margin-top: 20px;
  background-color: grey;

  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}




