.home-nav{
  font-weight: bold;
  background-color: lightskyblue;
  margin-bottom: 5px;
  padding-bottom: 2px;
  display: flex;
  width: 100%;

  text-align: center;
  font-family: 'Courier New', Courier, monospace; 

}

.Home-link {
  color: hsl(193, 95%, 68%);
}

/*Figure out how to custmize the tabs -_-*/
.body{
  background-color: lightblue;
  height: 100%;
  margin: 0;
}

/*The following will be the background display for the entire website.*/
.home-background{
  background-image: url("/src/imgs/kittybackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;


}


.img-col{
  display: flex;
  border-style: solid;
}

.imageMiriam{
  height:50%;

}

{/*   COMMENTING OUT BECAUSE THEYRE NOT BEING USED IN THE JS

.cardWelcome{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  text-align: center;
  height: auto;
  width: auto;
}

.techStackCard{
  font-family: 'Courier New', Courier, monospace;
}

.tsTitle{
  font-weight: bold;
}

li{
  list-style-type: none;
}
*/}

.row1{
  margin: auto;
  width: 49%;
  border: 3px ;
  padding: 15px;

}

.row2{
  margin: auto;
  width: 99%;
  padding: 15px;

}

.row3{
  margin: auto;
  padding: 15px;
  text-align: center;
}

.connectContainer{
  text-align: center;
}

.footerContainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: grey;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}




